# Database connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=momo_sms
DB_USER=
DB_PASSWORD=

# ETL paths
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
LOG_DIR=data/logs
DEAD_LETTER_DIR=data/logs/dead_letter

# API (optional / bonus)
API_HOST=0.0.0.0
API_PORT=8000
